.autocomplete {
    position: relative;
    display: flex;
}

.autocomplete-items {
    position: absolute;
    border-radius: 10px;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    background: linear-gradient(to top, black,transparent);
    backdrop-filter: blur(10px);
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: white;
    padding: 3px;
    margin: 1px;
    cursor: pointer;
    background-color: transparent; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9; 
}

.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}
